<h1 id="title">{{note.title}}</h1>
<p id="dueDate">Due Date: {{note.dueDate}}</p>
<p id="summary">Summary: {{note.summary}}</p>
<p id="body">Body: {{note.body}}</p>

<a id="next" data-nextid="{{nextId}}" href="#" >next</a>