<h4>This is a private page, User info is the following:</h4>

<p>Username  : {{user.username}}</p>
<p>First Name: {{user.firstName}}</p>
<p>Last Name : {{user.lastName}}</p>
<p>Profession: {{user.profession}}</p>
<p>Bio       : {{user.Bio}}</p>
